* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 350ms;
}

.popout {
  position: absolute !important;
}

#msg {
  margin-top: 0;
  z-index: 0 !important;
  height: 0;
  opacity: 0;
  transition: 2s !important;
}

#msg.show {
  z-index: 1 !important;
  margin-top: 52px;
  padding-top: 2px;
  opacity: 1;
  transition: 2s !important;
  height: 2rem;
}

#register, #login, .form-center {
  margin-top: 4rem !important;
  margin: auto;
}
@media screen and (min-width: 700px) {
  #register, #login, .form-center {
    width: 60%;
  }
}

.blog-welcome {
  height: 85vh;
  transform: translateY(-50px);
  background-image: url("/image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-container {
  width: 300px;
  height: 300px;
}

.navbar-brand img {
  width: 75px;
  margin: 0;
  padding: 0;
}

#page-content {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(200px);
}
