* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 100ms;
}

.popout {
    position: absolute !important;
}

#msg.hidden {
    transition: 1s;
    opacity: 0;
    transform: translateY(-200px);
    pointer-events: none;
}
