* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 350ms;
}

.popout {
    position: absolute !important;
}

#page-content{
    margin: 2.5rem 0px 1rem 0px;
}

#msg {
    transition: 2s;
    position: relative;
    z-index: 1;
}

#msg.hidden {
    transition: 1s;
    opacity: 0;
    transform: translateY(-200px);
    pointer-events: none;
    height: 0;
}

#register, #login {
    margin-top: 4rem !important;
    margin: auto;

    @media screen and (min-width: 700px) {
        width: 60%;
    }
}

.blog-welcome {
    height: 85vh;
    transform:translateY(-50px);
    background-image: url('/image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container {
    width: 300px;
    height: 300px;
}

.navbar-brand {
    img {
        width: 75px;
        margin: 0;
        padding: 0;
    }
}

#page-content {
    padding-bottom: 20px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(200px);
}
